<%# mengubah title menjadi Lilearnv di rails dengan erb %>
<% content_for :title, "Li-Learnv | Beranda" %>

<%# image variabel %>
<% images = [
  "https://sponsors.vuejs.org/images/sentry.avif",
  "https://sponsors.vuejs.org/images/laravel.avif",
  "https://sponsors.vuejs.org/images/vuejobs.avif",
  "https://sponsors.vuejs.org/images/vuemastery.avif"
] %>
<%# navbar comps %>
<%= render 'shared/nav' %>


<%# main comps %>
<main class="w-full text-zinc-700">
  <%# buatkan kondisi tampilkan welcome current user yang login, jika tidak login maka  tampilkan welcome saja %>
  <% if logged_in? %>
  <p>Welcome, <%= current_user.username %>!</p>
  <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
  <% end %>



  <%# Hero section %>
  <section class=" flex flex-col xl:p-8 max-xl:p-6 max-lg:p-4 gap-16">
    <article class="text-center items-center flex flex-col gap-4 mx-auto max-w-[60%]">
      <h1 class="text-4xl font-medium">Ensures your succeed in coding <span class="px-4 pb-1 bg-amber-100 rounded-full w-fit">playground</span> with structured, engaging, and fun courses.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci expedita, eligendi explicabo saepe consequatur!</p>
      <div class="flex gap-4">
        <%= railsbutton_secondary("Lihat Course", "/")%>
        <%= railsbutton_primary("Daftar", "/")%>
      </div>

    </article>

    <div class="bg-cover bg-center h-[380px] rounded-3xl" style="background-image: url('https://img.freepik.com/free-photo/close-up-student-reading-book_23-2148888822.jpg?t=st=1729128707~exp=1729132307~hmac=7eed677118f3c44b3d5242061a6b18c4463755069a88df82f671d9fcaf90cb79&w=2048')"></div>
  </section>

  <%# sponsorhip %>
  <section class="xl:p-8 max-xl:p-6 max-lg:p-4">
    <div class="justify-evenly w-full bg-red-200 grid grid-cols-4 justify-items-center">
      <!-- Gambar set pertama -->
      <%  images.each do |image_url| %>
      <img src="<%= image_url %>" alt="" class="h-[60px] w-full p-2 object-contain">
      <% end %>
    </div>
  </section>
</main>